.movie-survey-results {
  margin-top: 90px;
  font-family: Antonio;
  color: white;
  font-size: 12px;
  display: flex;
  position: relative;
  /* flex-direction: row; */
  /* align-items: center; */
  /* border: 3px solid; */
  width: 445px;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  height: 78%;
}