.movie-candidate-button {
  font-family: Antonio !important;
  color: white !important;
  border: solid 5px;
  background: transparent !important;
}

.movie-candidate-row {
  padding-top: 10px;
  padding-bottom: 20px;
  /* justify-content: center;
  justify-items: center; */
  align-items: center;
  display: flex;
}

.movie-candidate-cover {
  height: 150px;
  width: auto;
  border-radius: 4px;
  margin-right: 15px;
}