.category {
  font-family: 'Antonio', sans-serif;
  color: white;
  /* font-size set inline in JS */
  display: flex;
  align-items: center;
  /* background: black; */
  border: 4px solid white;
  /* Thick border for film frame look */
  border-radius: 0px;
  /* Sharp corners */
  width: auto;
  min-width: 300px;
  padding: 10px 30px;
  justify-content: center;
  box-shadow: none;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 20px;
}