.date-position {
  margin-left: 40px;
}
.date {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center; /* Wyśrodkowanie poziome */
  align-items: center; /* Wyśrodkowanie pionowe */
  text-align: center;
  font-family: Antonio;
  color: white;
  border: 3.5px solid;
  font-size: 64px;
  height: 170px;
  width: 135px;
}
