.date-position {
  margin-left: 40px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center; /* Wyśrodkowanie poziome */
  align-items: center; /* Wyśrodkowanie pionowe */
  text-align: center;
  border: 3.5px solid;
  color: white;
  height: 170px;
  width: 135px;
}
.date-day {
  font-family: Antonio;
  color: white;
  font-size: 70px;
}

.date-month {
  font-family: Antonio;
  color: white;
  font-size: 32px;
}
