.date-position {
  margin-left: 20px;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: 3.5px solid; */
  /* background: black; */
  backdrop-filter: none;
  border: 4px solid white;
  border-radius: 0px;
  /* Sharp corners */
  color: white;
  height: auto;
  min-height: 100px;
  /* Reduced min-height */
  width: 150px;
  /* Fixed width for square look */
  padding: 10px;
  box-shadow: none;
}

.date-day {
  font-family: 'Antonio', sans-serif;
  color: white;
  font-size: 70px;
  line-height: 1;
}

.date-month {
  font-family: 'Antonio', sans-serif;
  color: white;
  font-size: 32px;
  text-transform: uppercase;
}