.movie-night-order {}

.movie-night-position {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-top: 250px;
  flex-wrap: wrap;
  justify-content: center;
  /* overflow-y: auto; */
}

.movie-night-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.winner-row {
  grid-column: 1 / 2;
}

.survey-row {
  grid-column: 2 / 3;
}

/* .movie-night-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  color: white;
} */
/* .movie-night-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: white;
}

.movie-night-position > .category {
  font-size: 2.5rem;
  font-weight: bold;
  border: 2px solid white;
  padding: 8px 24px;
}

.movie-night-position > .info-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.movie-night-position .location {
  background-color: white;
  color: black;
  padding: 8px 16px;
  font-size: 1.2rem;
  border-radius: 8px;
}

.movie-night-position .date {
  border: 2px solid white;
  padding: 8px 16px;
  font-size: 2rem;
  text-align: center;
} */