.winner-movie-header {
  display: flex;
  position: relative;
  /* margin-left: 70%; */
  font-family: Antonio;
  color: white;
  /* justify-content: space-around; */
  width: 400px;
  margin-left: 25px;
}

.winner-movie-details-or-vote {
  width: 490px;
  height: 650px;
}

.winner-movie-details-or-vote .vote {
  width: 450px;
  height: 575px;
  /* border: 3px solid white; */
  justify-content: center;
  color: white;
  font-family: Antonio;
  padding: 40px;
  padding-left: 30px;
  font-size: 24px;
}

.movie-in-carousel-cover {
  width: 100%;
  /* margin-left: 5%; */
  display: flex;
  position: relative;
  /* justify-content: center;
  align-items: center; */
}

.movie-in-carousel-plot {
  font-family: Antonio;
  color: white;
}

.location-position {
  margin-left: 50px;
}

.winner-movie-content {
  margin-right: 55px;
}
