.search-movie-header {
  font-family: Antonio;
  color: white;
  font-size: 25px;
}

.search-results-box {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  /* width: 80%; */
  height: 400px;
}

.find-movie-columns {
  display: flex;
}

.candidates-box {
  /* margin-top: 15px; */
  margin-top: 53px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;

  height: 400px;
}

.search-movie-candidates {
  display: flex;
  justify-content: center;
  font-family: Antonio;
  color: white;
  font-size: 25px;
}

.movie-card-title-and-button {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.searcher-column {
  width: 345px;
}
.middle-column {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  width: 40px;
  /* padding: 25px; */
}

.candidates-column {
  width: 345px;
  /* margin-left: 15px; */
}

.add-button {
  margin-top: 45px;
  margin-bottom: 25px;
}
.remove-button {
  margin-top: 25px;
}

.candidates-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 70px; */
}

.movie-card-cover-column {
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-left: 15px;
}

.movie-card {
  display: flex;
  position: relative;
  margin: 7px;
  width: 280px;
  height: 120px;
  background-color: rgb(34, 34, 34);
  font-family: Antonio;
  color: white;
  border: 3px solid;
  border-color: black;
  cursor: pointer;
}

.movie-card-title {
  font-size: 19px;
  margin-top: 12px;
  margin-bottom: 5px;
}

.movie-frame-look {
  display: flex;
  position: relative;
}

.searcher-frame {
  display: flex;
  position: relative;
  justify-content: center;
  font-family: Antonio;
  font-size: 27px;
  flex-direction: column;
  align-items: center;
  margin-left: 20%;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
