.search-movie-header {
  font-family: Antonio;
  color: white;
  font-size: 25px;
}

.search-results-box {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  /* width: 80%; */
  height: 400px;
}

.search-movie-candidates {
  display: flex;
  justify-content: center;
  font-family: Antonio;
  color: white;
  font-size: 25px;
}

.candidates-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.empty-candidate-record {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 40px;
  margin-right: 15px;
  width: 70%;
  font-family: Antonio;
  font-size: 25px;
  color: white;
  border: 2px dashed;
  border-color: white;
}

.add-button {
}

.remove-button {
}

.movie-card {
  display: flex;
  position: relative;
  margin: 10px;
  width: 90%;
  height: 30%;
  background-color: rgb(34, 34, 34);
  font-family: Antonio;
  color: white;
  border: 3px solid;
  border-color: black;
}

.movie-card-title-and-button {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.movie-card-cover-column {
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-left: 15px;
}

.movie-card-title {
  font-size: 19px;
  margin-top: 12px;
  margin-bottom: 5px;
}
