.next-button {
  font-family: Antonio;
}

.p-button {
  font-family: Antonio;
  background: black;
  border: 1px solid white;
}

.p-button.p-button-secondary:not(:disabled):hover {
  background: #2a2a2a;
}

.p-stepper-title {
  font-family: Antonio;
  font-size: 20px;
  color: white;
}

.p-stepper-number {
  font-family: Antonio;
  border-radius: 0px;
  border: 2px solid white;
  font-size: 20px;
  background-color: black;
  color: white;
}

.p-stepper-header.p-highlight .p-stepper-number {
  background-color: white;
  color: black;
}

.p-stepper .p-stepper-header:has(~ .p-highlight) .p-stepper-separator {
  background-color: white;
}

.p-dialog-header {
  background: #222222;
  color: white;
  border-bottom: none;
}

.p-dialog-content {
  background: #222222;
  color: white;
}

.p-stepper-action {
  background: #222222;
}

.p-stepper-panels {
  background-color: #222222;
}

.button-positions {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 380px;
}

.dialog-style {
  font-family: "Antonio";
  width: 840px;
  height: 820px;
}