.movie-preview-title {
  font-family: Antonio;
  color: white;
  font-size: 45px;
  /* margin-left: 30px; */
  margin-top: -30px;
}

.below-title {
  margin-top: -50px;
  display: flex;
}

.cover-size {
  width: 80% !important;
}

.cover-description {
  margin-top: -150px;
  font-family: Antonio;
  font-size: 15px;
  color: white;
}
.cover-creators-columns {
  display: flex;
  flex-direction: row;
}
