.square {
  width: 20px;
  height: 20px;
  /* background-color: red; */
}

.legend {
  display: flex;
  flex-wrap: wrap; /* Umożliwia zawijanie do kolejnych rzędów */
  gap: 10px; /* Odstęp między elementami */
  align-items: center;
}
.legend-item {
  display: flex;
  align-items: center; /* Wyrównanie w pionie */
  gap: 10px; /* Odstęp między kwadratem a tekstem */
  margin-bottom: 10px; /* Odstęp między wierszami */
}
