@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Antonio:wght@100..700&display=swap');

:root {
  --primary-color: #ffffff;
  --secondary-color: #e50914;
  /* Accent red like recording light? or just keep it simple */
  --background-dark: #000000;
  --text-main: #ffffff;
  --text-muted: #aaaaaa;

  /* Film Strip Theme */
  --film-bg: #000000;
  --film-border: 2px solid #ffffff;
  --film-frame-bg: #1a1a1a;
  --film-sprocket-size: 15px;
}

body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-dark);
  color: var(--text-main);
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}